:root {
    --small: 'Open Sans', sans-serif;
    --large: 'Abril Fatface', cursive;
}
body {
    font-family: var(--small);

}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.brand {
    font-size: 3.5rem;
    font-family: var(--large);
}

.fa {
    color:
        black;
}

td a {
    text-decoration: none;
    color: unset;
}

